#schedule {
  .main-schedule {
    display: inline-block;

    width: 100%;
  }

  #open {
    width: .1px;
    height: .1px;

    position: absolute;

    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }

  .item {
    position: relative;

    font-weight: bold;

    &:hover {
      background: $schedule-item-background-color-hover;

      color: $schedule-item-text-color-hover;

      cursor: pointer;
    }

    &.disabled {
      &:hover, &:active {
        color: $disabled-color;

        cursor: default;
      }
    }
  }

  #download-img {
    position: absolute;
    top: 160px;
    left: 365px;

    padding: 8px 0;

    background: none;
    border: 1px solid $white;

    font-size: 11px;

    z-index: 200;

    a {
      padding: 8px 12px;

      color: $white;
    }

    &:hover {
      background-color: $white;

      > a {
        color: $black;
      }
    }
  }

  #close-img {
    position: absolute;
    top: 10px;
    right: 8px;

    padding: 3px;

    background: none;

    font-size: 15px;

    z-index: 200;

    &:hover {
      background-color: $white;

      > i {
        color: $black;
      }
    }
  }
}
