#search {
  .main-search {
    #iconinputsearch {
      width: 150px;

      .icon {
        right: -5px;

        margin-right: 0;
      }
    }

    #search-nav {
      margin-top: 0;

      .item.schedule {
        font-weight: bold;
      }
    }
  }
}
